<% provide(:title, "Contact") %>

<h1>Contact Us</h1>

<p>Flittr is a sample application for educational purposes only.</p>

<p>If you have questions, please email allencoin [at] gmail [dot] com.</p>
