<% provide(:title, "Forgot Password") %>
<h1>Forgot Password</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
    <p></b>Enter your e-mail address below to have a password reset link sent to your inbox.</p>
    <br />
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email, "e-mail" %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
	</div>
</div>