<% if object.errors.any? %>
	<div id = "error_explanation">
		<div class="alert alert-danger">
			<p>You encountered <strong><%= pluralize(object.errors.count, "problem") %></strong>:</p>
			<ol>
				<% object.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ol>
		</div>
	</div>
<% end %>
