<% if @user.errors.any? %>
	<div id = "error_explanation">
		<div class="alert alert-danger">
			<p>Your registration attempt has <strong><%= pluralize(@user.errors.count, "problem") %></strong>:</p>
			<ol>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ol>
		</div>
	</div>
<% end %>