@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$light-gray: #777777;
$gray-medium-light: #EAEAEA;

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* universal */

body {
    padding-top: 0px;
    font-family: Verdana, sans-serif;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;

    h1 {
    margin-bottom: 10px;
    }
}

.clr {
    clear: all;
}

a {
    text-decoration-skip: ink;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: Georgia, serif;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;

    &:hover {
        color: #CCCCCC;
        text-decoration: none;
    }
}

.avatar {
    color: white;
    font-size: .8em;
    margin-top: 15px;
    a {
        color: white;
        text-decoration: none;
    }
    .dropdown-menu {
        margin-top: 20px;
        margin-left: 35px;
    }
}

.pic {
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 8px;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $light-gray;
    a {
        color: $gray;
        &:hover {
            color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
    }
    ul li {
        float: left;
        margin-left: 15px;
    }
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

.jumbotron {
    background: url("../assets/jumbo-bg.jpg") no-repeat center center;
    h1, h2 {
        color: white;
        text-shadow: 1px 1px 1px #333;
    }
    h2 a {
        color: white;
        }
}

#gravatar-explanation {
    display: none;
    background-color: lightgray;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;

}

/* sidebar */

aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box-sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    ol {
        color: black;
        margin: 0 0 5px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

/* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

/* microposts */

.microposts {
    list-style: none;
    padding: 0;
    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
    .user {
        margin-top: 5em;
        padding-top: 0;
    }
    .content {
        display: block;
        margin-left: 60px;
        img {
            display: block;
            padding: 5px 0;
        }
    }
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
}

/* making user aside info scroll down with you */
.navbar-form input, .form-inline input {
  width:auto;
}

@media (min-width: 979px) {
  .user_info.affix-top {
    position: static;
    margin-top:25px;
    width:228px;
  }
  
  .user_info.affix {
    position: fixed;
    top:25px;
    width:228px;
  }
}

.affix,.affix-top {
   position:static;
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }

  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }
}