<footer class="footer">
	<small>
		a <a href="#">Sample App</a> by <a href="http://allencoin.github.io/">Allen Coin</a>
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News", root_path %></li>
		</ul>
	</nav>
</footer>