<nav class="navbar navbar-static-top navbar-inverse" role = "navigation">
    <div class="container">
        <%= link_to "Sample App", '#', id: "logo" %>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
        </ul>
    </div>
</nav>